body{
    background-color: #005eff17;
  }
  form{
    transform: translate(120%);
    width: 17%;
  }
  
  
  /* it is the main class for display every question */
  .main_div {
    display: flex;
  flex-direction: column;
  justify-content: center;
    /* styles for desktop */
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    page-break-inside: avoid;
    word-wrap: break-word;
    box-shadow: 0px 2px 4px #ccc;
    width: 300%;
  }
  
  input[type="text"], input[type="email"] {
    /* styles for desktop */
    font-size: 16px;
    padding: 10px 10px 1px 5px;
    display: block;
    max-width: 320px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
  
  input[type="text"]:focus, input[type="email"]:focus {
    outline: none;
  }
   
  /* it is used to display question */
  .questionDisplay{
    font-size: 12pt;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
  }
  .form-check-label{
    display: inline;
    padding: 0px;
  }
  /* submit button */
  button {
    background-color: #1565C0;
    width: 130px;
    height: 40px;
    margin: 5px;
    border-radius: 30px;
    border: none;
    color: white;
  }
  
  button:hover {
    font-size: 20px;
    background-color: #0f6fdc
  }
  button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color:  #0f6fdc79
    ;
    color: #333;
    
    }
  .popup{
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
  }
  .popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .popup h2{
  margin-top: -20px;
  }
  .popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
  }
  .popup a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #1ade00;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
  }
  .popup a:hover{
    cursor: pointer;
  }
  .enabled {
    opacity: 1;
    pointer-events: auto;
  }
  
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }



  .iframePopup{
    user-select: none;
    -webkit-user-select: none;
  -moz-user-select: none;
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
    border: 2px solid #000000; 
}
.iframePopup iframe {
    width: 350px;
    height: 250px;
   pointer-events: none;
  }
  
.iframePopup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
		background: #03549a;
		border-radius: 100%;
		width: 40px;
		height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.iframePopup h2{
	margin-top: -20px;
}
/* .iframePopup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
} */
.iframePopup a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #1ade00;
		border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}
.iframePopup a:hover{
    cursor: pointer;
}




  
  @media screen and (max-width: 480px) {
    form{
        transform: translate(0%);
        width: 100%;
        padding: 1px;
      }
    /* styles for mobile */
    .main_div {
      padding: 16px;
      width: auto;
    }
  
    input[type="text"], input[type="email"] {
      font-size: 14px;
      padding: 8px 8px 0 5px;
      max-width: 100%;
    }
  }
  